
.input-group{
    width:200%;
}
[class*="col-"] {
    margin-bottom: 4rem;
}
h1{
    color: whitesmoke;
    text-align: center;
}
#projectLogo{
   width:50%;
}
.asteriskField {
    display: none;
}
.userHeadlineFormField{
    text-align: center
}