{% load staticfiles %}
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/slate/bootstrap.min.css" rel="stylesheet" integrity="sha384-0hg9nIBwdqzDMXB5NKI6aLmOMkt8sWpL8xY0q9J7eAS/UYXIqoZ/iXiRxQYe0znl" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/slate/bootstrap.min.css" rel="stylesheet" integrity="sha384-0hg9nIBwdqzDMXB5NKI6aLmOMkt8sWpL8xY0q9J7eAS/UYXIqoZ/iXiRxQYe0znl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel= "stylesheet" href="{% static newsBuster.css %}">
<title>{% block title %}Fake News Algorithm{% endblock %}</title>
</head>

<body>
    <!-- NavBar Starts here -->
    {% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="sidebar">
  <a class="navbar-brand" href="#">Fake News Algorithm</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collDpse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="features">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
    <!-- NavBar Ends here -->

    <!-- Bootstrap container for News Article Headline form starts here -->
{% block container %}
    <div class="container">
        <div id="projectLogo"><img id="projectLogo" src ="{% static "projectLogo.png" %}" alt="Project Logo"/></div>
    </div>
{% endblock %}
</body>