{% extends "projectWebsite/index.html" %}

{% block title %}FN Algorithm{% endblock %}

{% block button %} {% endblock %}

{% block content %}
<div class="card text-white bg-success mb-3" style="max-width: 80rem;">
        <div class="card-header" style="text-align: center;">Donald Trump Elected has won US election</div>
            <div class="card-body">
            <h3 class="card-title" style="text-align: center;">Real!</h3>
            <hr>
            <p class="card-text">According to the FN Algorithm, this headline has a 60% chance of being legitimate.</p>
            <hr>
            <h5> Further Report, based on Algorithm-generated statistics:</h5>
        </div>
</div>
{% endblock %}